body{
	background: #e3e3e3;
}
/*右侧浮动层*/
.customer{
	width: 147px;
	height: 435px;
	position: relative;
	z-index: 99999999;
	background: #0088BF;
}
.customer ul{
	width: 100%;
	height: auto;
}
.customer ul li{
	width: 100%;
	height: auto;
}
.customer ul li a{
	width: 133px;
	padding-left: 14px;
	height: 32px;
	line-height: 32px;
	display: inline-block;
	border-bottom: 1px solid #00729f;
	background: #005b7f url(../images/edu-ico12.png) 131px 9px no-repeat;
	font-size: 12px;
	color: #fff;
}
.customer ul li a:hover{
	background: #00435d url(../images/edu-ico12.png) 131px 9px no-repeat;
}
.customer h2{
	width: 133px;
	height: 26px;
	padding: 20px 0 17px 14px;
	line-height: 26px;
	color: #fff;
	font-size: 12px;
	background: url(../images/edu-ico12.png) 131px 26px no-repeat;
}
.customer h2 a{
	color: #fff;
}
.customer h2 img{
	margin-right: 3px;
}
.customer .lineWrap{
	width: 127px;
	padding: 10px;
	border-top: 1px solid #00709e;
	border-bottom: 1px solid #00709e;
	background: #017aab;
}
.customer .lineWrap .line{
	width: 126px;
	height: 61px;
	border-top: 1px solid #666;
	background: #e3e3e3;
	border-left: 1px solid #666;
	position: relative;
}
.customer .lineWrap .line i{
	width: 26px;
	height: 32px;
	display: inline-block;
	background: url(../images/edu-ico14.png) no-repeat;
	position: absolute;
	left: 12px;
	top: -3px;
}
.customer .lineWrap .line h3{
	height: 27px;
	line-height: 27px;
	padding-left: 45px;
	font-size: 16px;
	color: #0088BF;
}
.customer .lineWrap .line input{
	width: 104px;
	height: 28px;
	margin-left: 11px;
	background: #f89200 url(../images/edu-ico12.png) 85px 8px no-repeat;
	cursor: pointer;
	border-radius: 5px;
	font-size: 14px;
	color: #fff;
	padding-left: 15px;
	text-align: left;
	-moz-transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}
.customer .lineWrap .line input:hover{
	background: #dc8200 url(../images/edu-ico12.png) 85px 8px no-repeat;
}
.customer h4{
	width: 100%;
	height: auto;
	text-align: center;
	margin-top: 11px;
}
.customer h4 img{
	width: 122px;
	height: 122px;
}
.customer p{
	font-size: 12px;
	color: #fff;
	text-align: center;
	letter-spacing: 1px;
	text-indent: 1px;
	margin-top: 2px;
}
/*header*/
.headerWrap{
	width: 100%;
	height: auto;
	background:#fff;
	position: relative;
	z-index: 15;
}
.header{
	height: auto;
	padding-top: 49px;
	padding: 49px 0 37px;
}
.header .logo img{
	display: block;
	
}
.header .hea-r{
	height: 40px;
	/*background: yellow;*/
	margin-top: 17px;
}
.header .hea-r .search{
	width:314px;
	height: 36px;
	border: 2px solid #18aaee;
	float: left;
}
.nav_bbs{
	width:64px;
	height:24px;
	border-right: 1px solid #ececec;
	margin-top:6px;
	float: left;
	position: relative;
}
.nav_bbs p{
	width: 54px;
	display:block;
	padding-left:10px;
	line-height:24px;
	cursor: pointer;
	font-size: 14px;
	color: #333;
}
.set{
	background:url(../images/index-ico1.png) 43px 11px no-repeat;
}
.select{
	background:url(../images/index-ico1-hov.png) 43px 10px no-repeat;
}
.new{
	width:63px;
	position:absolute;
	/*margin-top: 10px;*/
	left: -2px;
	top: 30px;
	border: 2px solid #18aaee;
	border-top: none;
	display:none;
	background: #fff;
	z-index: 999;
}
.nav_bbs ul li{
	line-height:30px;
	padding-left:10px;
	cursor: pointer;
	font-size: 14px;
	color: #333;
}
.nav_bbs ul li:hover{
	background:#F1F1F1;
	color:#18aaee;
}

.search .search_text{
	width: 186px;
	height: 36px;
	line-height: 36px;
	padding-left: 10px;
	color: #cfcfcf;
	font-size: 14px;
	float: left;
}
.search .search_sub{
	width: 52px;
	height: 36px;
	background: #18aaee url(../images/index-ico13.png) 18px 8px no-repeat;
	cursor: pointer;
	float: right;
}
.header .hea-r i{
	height: 40px;
	/*line-height: 40px;*/
	display: inline-block;
	float: left;
	font-size: 16px;
	color: #333;
	margin-left: 12px;
}
.header .hea-r i em{
	height: 40px;
	line-height: 40px;
	display: inline-block;
	float: left;
}
.header .hea-r i b{
	height: 40px;
	line-height: 40px;
	display: inline-block;
	font-size: 24px;
	color: #ff3b3b;
	float: left;
	font-weight: normal;
}
/*nav*/
.navWrap{
	width: 100%;
	height: 40px;
	border-bottom: 2px solid #0088bf;
	background: #fff;
	position: relative;
	z-index: 10;
}
.nav{
	height: 40px;
	position: relative;
}
.nav ul{
	width: 747px;
	height: 40px;
	float: right;
}
.nav ul li{
	float: left;
}
.nav ul li a{
	height: 40px;
	line-height: 40px;
	padding: 0 18px;
	display: inline-block;
	font-size: 16px;
	color: #333;
	position: relative;
}
.nav ul li a:hover{
	color: #0088BF;
}
.nav ul li a i{
	width: 12px;
	height: 10px;
	display: inline-block;
	background: url(../images/index-ico2.png) no-repeat;
	position: absolute;
	bottom: 0;
	left: 50%;
	display: none;
	margin-left: -6px;
}
.nav ul li a.cur{
	color: #0088BF;
}
.nav ul li a.cur i{
	display: block;
}
.nav ul li a:hover i{
	display: block;
}
/*左侧导航*/
.nav-left{
	width: 235px;
	height: 40px;
	position: relative;
}
.nav-left h2{
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 16px;
	color: #fff;
	background: #0294cf;
	cursor: pointer;
}
.nav-left h2 i{
	width: 20px;
	height: 12px;
	display: inline-block;
	background: url(../images/index-ico20.png)  no-repeat;
	margin-left: 30px;
	*margin-bottom:4px;
}
.nav ol{
	width: 205px;
	height: 309px;
	padding: 0 15px;
	background:url(../images/index-ico14.png);
    position: absolute;
    top: 42px;
    left: 0;
}
.nav ol li{
	width: 100%;
	border-bottom: 1px solid #91a5ae;
	padding-bottom: 7px;
	*padding-bottom: 4px;
}
.nav ol li h3{
	font-size: 14px;
	color: #fff;
	width: 100%;
	height: 28px;
	line-height: 28px;
}
.nav ol li p{
	width: 100%;
	font-size: 12px;
}
.nav ol li p a{
	color: #fff;
	float: left;
	margin-right: 20px;
	height: 18px;
	line-height: 18px;
	display: inline-block;
}
.nav ol li p a:hover{
	color: #0294cf;
}
#navol{
	display: none;
}
/*banner*/
.banner {
	width:100%;
	height:309px;
	overflow:hidden;
	position:relative;
	z-index: 9;
}
.banner .hd {
	width: 136px;
	height:18px;
	overflow:hidden;
	position:absolute;
	left: 50%;
	bottom:17px;
	margin-left: -68px;
	z-index:1;
	background: #3d82a3;
	border-radius: 50px;
}
.banner .hd ul {
	overflow:hidden;
	zoom:1;
	float:left;
	margin-left: 17px;
	margin-top: 4px;
}
.banner .hd ul li {
	float:left;
	margin-right:8px;
	width:10px;
	height:10px;
	background: #fff;
	border-radius: 50px;
	cursor:pointer;
}
.banner .hd ul li.on {
	background:#0088bf;
}
.banner .hd ul li:hover{
	background: #ccc;
}
.banner .bd {
	position:relative;
	height:100%;
	z-index:0;
}
.banner .bd li {
	zoom:1;
	vertical-align:middle;
}
.banner .bd img {
	width:100%;
	height:309px;
	display:block;
}
/*页面主体部分*/
.mainWrap{
	width: 100%;
	height: auto;
	margin-top: 10px;
}
.mainWrap1{
	margin-top: 0;
}
.goods{
	width: 988px;
	border: 1px solid #ccc;
	margin: 0 auto;
	height: auto;
	background: #fff;	
}
.goods .good-l{
	width: 304px;
	height: auto;
}
.goods .good-l h2,
.goods .good-c h2,
.goods .good-r h2{
	width: 100%;
	height: 32px;
	line-height: 32px;
	font-size: 16px;
	color: #333;
	text-align: center;
	margin-top: 6;
}
.goods .good-l p,
.goods .good-c p,
.goods .good-r p{
	width: 100%;
	height: 6px;
	background: #059ca1;
	position: relative;
	z-index: 100;
	margin-left: -1px;
}
/*焦点图切换*/
.goodl-slide {
	width:235px;
	height:163px;
	overflow:hidden;
	position:relative;
	padding-top: 27px;
	padding-left: 42px;
}

.goodl-slide .bd {
	position:relative;
	height:100%;
	z-index:0;
}
.goodl-slide .bd li {
	zoom:1;
	vertical-align:middle;
	position: relative;
}
.goodl-slide .bd img {
	width:235px;
	height:122px;
	display:block;
}
.goodl-slide .bd li h3{
	width: 100%;
	height: 38px;
	line-height: 38px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	background: rgba(0,0,0,0.6);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99000000',endColorstr='#99000000');      /*IE6,IE7*/ 
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#99000000', endColorstr='#99000000')";      /*IE8*/
   position: absolute;
   bottom: 0;
   left: 0;
   z-index: 1;
}
/*左右切换按钮 */
.goodl-slide .prev,
.goodl-slide .next {
	position:absolute;
	left:45px;
	top:50%;
	margin-top: -12px;
	display:block;
	width:12px;
	height:20px;
	background:url(../images/perv-next.png)  no-repeat;
}
.goodl-slide .next {
	left:auto;
	right:3px;
	background-position:right 0;
}
.goodl-slide .prev:hover,
.goodl-slide .next:hover {
	filter:alpha(opacity=100);
	opacity:1;
}
.goodl-slide .prevStop {
	display:none;
}
.goodl-slide .nextStop {
	display:none;
}
/*智联教育动态*/
.goods .good-c{
	width: 302px;
	height: auto;
}
.goods .good-c p{
	background: #f3c91d;
}
.goods .good-c ul{
	width: 282px;
	height: auto;
	margin-left: 20px;
	margin-top: 22px;
}
.goods .good-c ul li{
	width: 100%;
	height: auto;
}
.goods .good-c ul li a{
	height: 26px;
	line-height: 26px;
	font-size: 14px;
	padding-left: 18px;
	color: #000;
	display: inline-block;
	background: url(../images/index-ico3.png) 0 12px no-repeat;
}
.goods .good-c ul li a:hover{
	color: #0088BF;
}
/*我们帮助企业解决的问题*/
.goods .good-r{
	width: 382px;
	height: auto;
}
.goods .good-r h2{
	border-left: none;
}
.goods .good-r p{
	width: 384px;
	background: #ff3333;
}
.goods .good-r ul{
	width: 349px;
	height: auto;
	margin-left: 33px;
	margin-top: 27px;
}
.goods .good-r ul li{
	width: 148px;
	height: 38px;
	float: left;
	margin-right: 10px;
	margin-bottom: 6px;
}
.goods .good-r ul li a{
	color: #fff;
	font-size: 14px;
	width: 100%;
	height: 38px;
	line-height: 38px;
	display: inline-block;
	text-align: center;
}
.goods .good-r ul li a.cur1{
	background: #0088BF;
}
.goods .good-r ul li a.cur2{
	background: #059ca1;
}
.goods .good-r ul li a:hover{
	opacity:0.7;
	filter:alpha(opacity=15);
	cursor: pointer;
}
/*智联云课堂*/
.classroom{
	width: 904px;
	border: 1px solid #ccc;
	margin: 0 auto;
	height: auto;
	background: #fff;	
	margin-top: 10px;
	padding: 30px 42px 2px;
}
.classroom .class-title{
	width: 894px;
	height: 35px;
	border-left: 10px solid #f3c91d;
}

.classroom .class-title .classt-r{
	width: 891px;
	height: 34px;
	border-bottom: 1px solid #b7b7b7;
	margin-left: 3px;
}
.classroom .class-title .classt-r h2{
	height: 34px;
	float: left;
	margin-left: 3px;
	border-bottom: 1px solid #b7b7b7;
	font-size: 30px;
	color: #0088BF;
	line-height: 32px;
	padding-left: 10px;
	padding-right: 30px;
}
.classroom .class-title .classt-r em{
	padding-left: 24px;
	height: 34px;
	line-height: 34px;
	background: url(../images/index-ico4.png) 0 10px no-repeat;
	font-size: 14px;
	color: #FF3333;
	float: left;
}
/*文字滚动*/
#textscroll{
	width: 450px;
	float: left; 
	height: 34px; 
	overflow:hidden;
	display: inline-block;
}	
#textscroll .bd{ 
	height: auto;
	*margin-top: -1px;	
}
#textscroll .infoList li{
	zoom:1;
	height: 34px;
}
#textscroll .infoList li a{
	font-size: 12px;
	color: #000;
}
#textscroll .infoList li span{
	height: 34px;
	line-height: 36px;
	display: inline-block;
	margin-right: 25px;
}
#textscroll .infoList li a:hover{
	color: #0088BF;
}
.classroom .class-title .classt-r h3 a{
	height: 34px;
	line-height: 34px;
	float: right;
	display: inline-block;
	font-size: 12px;
	color: #000;
}
.classroom .class-title .classt-r h3 a b{
	font-size: 18px;
	font-weight: normal;
	margin-left: 6px;
	-moz-transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}
.classroom .class-title .classt-r h3 a:hover{
	color: #0088BF;
}
.classroom .class-title .classt-r h3 a:hover b{
	color: #0088BF;
}
.classroom .class-bom{
	width: 100%;
	height: auto;
	margin-top: 28px;
}
.classroom .class-bom .clab-l{
	width: 218px;
	height: 322px;
	position: relative;
}
.classroom .class-bom .clab-l img{
	width: 218px;
	height: 322px;
	display: block;
}
.classroom .class-bom .clab-l .Img-yy{
	width: 158px;
	height: 80px;
	background: rgba(255,255,255,0.8);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99ffffff',endColorstr='#99ffffff');      /*IE6,IE7*/ 
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#99ffffff', endColorstr='#99ffffff')";      /*IE8*/
   	position: absolute;
   	bottom: 10px;
   	left: 10px;
   	padding: 0 20px;
}
.classroom .class-bom .clab-l .Img-yy h2{
	width: 100%;
	height: 36px;
	line-height: 36px;
	text-align: center;
	border-bottom: 1px solid #333;
	font-size: 26px;
	margin-top: 8px;
}
.classroom .class-bom .clab-l .Img-yy p{
	width: 100%;
	height: 26px;
	line-height: 26px;
	font-size: 14px;
	color: #333;
	text-align: center;
}
.classroom .class-bom .clab-r{
	width: 686px;
	height: auto;
}
.classroom .class-bom .clab-r ul.Img-list{
	width: 100%;
	height: auto;
}
.classroom .class-bom .clab-r ul.Img-list li{
	width: 194px;
	height: auto;
	float: left;
	margin-left: 34px;
	margin-bottom: 32px;
}
.classroom .class-bom .clab-r ul.Img-list li img{
	width: 194px;
	height: 122px;
	display: block;
	-moz-transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}
.classroom .class-bom .clab-r ul.Img-list li h3{
	width: 100%;
	font-size: 14px;
	color: #000;
	height: 26px;
	line-height: 26px;
	text-align: center;
	-moz-transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}
.classroom .class-bom .clab-r ul.Img-list li a:hover img{
	opacity:0.7;
	filter:alpha(opacity=15);
}
.classroom .class-bom .clab-r ul.Img-list li a:hover h3{
	color: #0088BF;
}
/*广告*/
.adverWrap{
	width: 100%;
	height: auto;
	margin-top: 10px;
}
.adver{
	height: auto;
}
.adver a{
	width: 988px;
	height: auto;
	border: 1px solid #ccc;
	display: inline-block;
}
.adver img{
	width: 988px;
	display: block;
}
.adver a:hover{
	border: 1px solid #0088BF;
}
/*HRTP*/
.classroom .class-bom ul.Img-list1{
	width: 100%;
	height: auto;
	margin-top: 8px;
	padding-bottom: 30px;
}
.classroom .class-bom ul.Img-list1 li{
	width: 167px;
	height: auto;
	float: left;
	margin-right: 17.25px;
}
.classroom .class-bom ul.Img-list1 li img{
	width: 167px;
	height: 154px;
	display: block;
	-moz-transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}
.classroom .class-bom ul.Img-list1 li img:hover{
	opacity:0.7;
	filter:alpha(opacity=15);
}
.classroom .class-bom ul.Img-list1 li h2{
	width: 100%;
	height: 22px;
	line-height: 22px;
	font-size: 16px;
	color: #0088BF;
	text-align: center;
	margin-top: 7px;
}
.classroom .class-bom ul.Img-list1 li h3{
	width: 100%;
	height: 18px;
	line-height: 18px;
	text-align: center;
	font-size: 14px;
	color: #333;
}
/*智选课堂*/
.classroom .class-bom .clroom-l{
	width: 503px;
	height: 296px;
	background: #0294cf;
	margin-bottom: 30px;
}
.classroom .class-bom .clroom-l h2{
	width: 100%;
	height: 45px;
	background: url(../images/index-ico5.png) no-repeat;
	margin-top: 25px;
}
.classroom .class-bom .clroom-l h2 span{
	height: 45px;
	line-height: 42px;
	display: inline-block;
	background: url(../images/index-ico6.png) 22px 10px no-repeat;
	padding-left: 55px;
	font-size: 24px;
	color: #fff;
}
.classroom .class-bom .clroom-l .wisdom{
	width: 455px;
	height: auto;
	padding: 23px 24px 0;
}
.classroom .class-bom .clroom-l .wisdom a{
	width: 172px;
	height: 180px;
	display: inline-block;
	float: left;
}
.classroom .class-bom .clroom-l .wisdom a img{
	width: 172px;
	height: 180px;
	display: block;
}
.classroom .class-bom .clroom-l .wisdom p{
	width: 263px;
	float: right;
	line-height: 24px;
	font-size: 12px;
	color: #fff;
	margin-top: -4px;
}
.classroom .class-bom .clroom-r{
	width: 358px;
	height: auto;
}
.classroom .class-bom .clroom-r h2{
	width: 100%;
	height: 32px;
	line-height: 32px;
	border-bottom: 4px solid #f3c91d;
	font-size: 16px;
	color: #333;
	text-align: center;
	margin-top: -14px;
}
.classroom .class-bom .clroom-r ul.Txt-list{
	width: 100%;
	height: auto;
	margin-top: 11px;
}
.classroom .class-bom .clroom-r ul.Txt-list li{
	width: 100%;
	height: 24px;
}
.classroom .class-bom .clroom-r ul.Txt-list li a{
	height: 24px;
	line-height: 24px;
	display: inline-block;
	background: url(../images/index-ico3.png) 0 11px no-repeat;
	font-size: 14px;
	color: #000;
	padding-left: 20px;
}
.classroom .class-bom .clroom-r ul.Txt-list li a:hover{
	color: #0088BF;
}
.classroom .class-bom .clroom-r ul.Img-list2{
	width: 100%;
	height: auto;
}
.classroom .class-bom .clroom-r ul.Img-list2 li{
	width: 82px;
	height: 57px;
	float: left;
	margin-right: 10px;
	position: relative;
	margin-top: 15px;
}
.classroom .class-bom .clroom-r ul.Img-list2 li img{
	width: 82px;
	height: 57px;
	display: block;
}
.classroom .class-bom .clroom-r ul.Img-list2 li span{
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	color: #fff;
	background: #0088BF;
	display: inline-block;
	padding: 0 4px;
	position: absolute;
	bottom: 0;
	right: 0;
}
.classroom .class-bom .clroom-r ul.Img-list2 li a:hover{
	opacity:0.7;
	filter:alpha(opacity=15);
}
.classroom .class-bom .clroom-r ul.Img-list2 li p{
	width: 82px;
	height: 57px;
	background: rgba(0,0,0,0.5);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99000000',endColorstr='#99000000');      /*IE6,IE7*/ 
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#99000000', endColorstr='#99000000')";      /*IE8*/
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 57px;
    position: absolute;
    top: 0;
    left: 0;
}
/*智选课堂*/
.wonder{ 
	width:990px;  
	overflow:hidden; 
	margin-top: 15px;  
	position:relative; 
	margin-bottom: 30px;
	z-index: 1;
	left: -42px;
}
.wonder .hd{ 
	overflow:hidden;  
	height:234px;   
	z-index: 99; 
}
.wonder .hd .prev,.wonder .hd .next{ 
	display:block;  
	width:31px; 
	height:52px; 
	float:right;    
	overflow:hidden;
	cursor:pointer; 
	background:url(../images/perv-next1.png) no-repeat;
	position: absolute;
	left:9px;
	top: 50%;
	margin-top: -26px;
}
.wonder .hd .next{ 
	background-position:right 0; 
	position: absolute;
	right: 9px; 
	left: auto;
}
.wonder .hd .prev:hover,.wonder .hd .next:hover{ 
	background-position:0 bottom;
	-moz-transition:none;
	-webkit-transition:none;
	-o-transition: none;
	transition: none; 
}
.wonder .hd .next:hover{ 
	background-position:right bottom; 
}

.wonder .bd{ 
	width: 903px;
	position: absolute;
	top: 0;
	left: 43px; 
	z-index: 100;
}
.wonder .bd ul{ 
	width: 903px;
	overflow:hidden; 
	zoom:1; 
}
.wonder .bd ul li{ 
	width: 156px; 
	height: 223px;
	padding: 4px;
	float:left; 
	_display:inline;
	overflow:hidden; 
	text-align:center;
	border: 1px solid #ccc;
	margin: 0 7.4px;
}
.wonder .bd ul li .pic-img{
	width:156px;
	height: 223px;
	position: relative;
	overflow: hidden;
}
.wonder .bd ul li .pic-img p{
	width: 100%;
	height: 32px;
	line-height: 32px;
	background: rgba(0,0,0,0.7);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99000000',endColorstr='#99000000');      /*IE6,IE7*/ 
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#99000000', endColorstr='#99000000')";      /*IE8*/
	position: absolute;
	bottom: 0;
	left: 0;
	font-size: 14px;
	color: #fff;
}
.wonder .bd ul li .pic-img .shaow{
	width: 100%;
	height: 96px;
	position: absolute;
	left: 0;
	bottom: -96px;
	background: rgba(0,0,0,0.7);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99000000',endColorstr='#99000000');      /*IE6,IE7*/ 
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#99000000', endColorstr='#99000000')";      /*IE8*/
}
.wonder .bd ul li .pic-img .shaow h3{
	width: 100%;
	height:22px ;
	line-height: 22px;
	font-size: 14px;
	color: #fff;
}
.wonder .bd ul li .pic-img .shaow h4{
	width:134px;
	line-height: 18px;
	font-size: 12px;
	color: #fff;
	margin: 0 auto;
}
.wonder .bd ul li .pic-img .shaow a{
	width: 88px;
	height: 22px;
	line-height: 22px;
	background: #0294cf;
	padding: 0;
	border: none;
	display: inline-block;
	font-size: 12px;
	color: #fff;
	margin-top: 5px;
}
.wonder .bd ul li .pic-img .shaow a:hover{
	background: #0273a0;
}
.wonder .bd ul li a{ 
	width: 156px;
	height: 223px;
	text-align:center; 
	display: block;	
	background: #fff;
}
.wonder .bd ul li a img{ 
	width:156px; 
	height:223px; 
	display:block;  
}
.wonder .bd ul li a:hover img{ 
	border-color:#999;  
}
.wonder .bd ul li .title{ 
	line-height:24px;   
}
/*合作机构*/
.classroom .room-list{
	width: 100%;
	height: auto;
	margin-top: 27px;
	margin-bottom: 30px;
}
.classroom .room-list ul{
	float: left;
}
.classroom .room-list li { 
	float: left; 
	width: 155px; 
	margin-right: 32px;
	height:auto; 
	position: relative;
}
.page1 li a .pic{
  width: 155px;
  height: 100px;
  /*overflow: hidden;*/
  position: relative;
  *display: inline;
}
.page1 li a img {
  display: block;
  transition: 1s;
  -moz-transition: 1s;
  -webkit-transition: 1s;
  -o-transition: 1s;
  /*border: 2px solid #fff;*/
}
.page1 li:hover img,
.page1 li:hover img {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  /*border: 2px solid #0294CF;*/
}

/*footer*/
.footerWrap{
	width: 100%;
	height: auto;
	background: #0294cf;
	margin-top: 10px;
}
.footer{
	height: auto;
	padding: 27px 0;
}
.footer .foo-title{
	width: 100%;
	height: 1px;
	background: #025272;
	position: relative;
}
.footer .foo-title h2{
	width: 220px;
	height: 50px;
	line-height: 50px;
	color: #025272;
	font-size: 24px;
	text-align: center;
	position: absolute;
	top: -27px;
	left: 50%;
	margin-left: -110px;
	background: #0294cf;
}
.footer h1{
	width: 920px;
	height: 95px;
	line-height: 95px;
	font-size: 24px;
	color: #fff;
	padding-left: 70px;
	background: url(../images/index-ico5-5.png) no-repeat;
	margin-top: 30px;
}
.footer h1 em{
	font-size: 36px;
}
.footer ul{
	width: 100%;
	height: auto;
	margin-top: 18px;
}
.footer ul li.foo-list{
	width: 172px;
	height: auto;
	border-right: 1px solid #0273a0;
	float: left;
	text-align: center;
}
.footer ul li.foo-list1{
	width: 148px;
	text-align: left;
}
.footer ul li.foo-list2{
	width: 149px;
	border-right: none;
	text-align:right;
}
.footer ul li.foo-list h2{
	width: 164px;
	height: 32px;
	line-height: 32px;
	font-size: 16px;
	color: #025272;
	text-align: center;
	margin-bottom: 2px;
}
.footer ul li.foo-list1 h2,
.footer ul li.foo-list2 h2{
	width: 126px;
}
.footer ul li.foo-list h2 img{
	margin-right: 7px;
}
.footer ul li.foo-list a{
	width: 126px;
	height: 40px;
	display: inline-block;
	margin-top: 9px;
}
.footer ul li.foo-list a:hover{
	opacity:0.9;
	filter:alpha(opacity=15);
}
.footWrap{
	width: 100%;
	height: auto;
	padding: 45px 0;
}
.footWrap p{
	width: 100%;
	height: 26px;
	line-height: 26px;
	font-size: 12px;
	color: #333;
	text-align: center;
}
.footWrap p a{
	color: #0294cf;
}
.footWrap p span{
	color: #0294cf;
	margin-left: 5px;
}
.footWrap p a:hover{
	color: #0273a0;
}
/*智联教育HRTP页面*/
/*HRTP是什么*/
.hrtpWrap{
	width: 100%;
	height: auto;
	background: #fff;
}
.hrtp{
	height: auto;
	padding: 56px 58px 30px;
}
.hrtp .hrtp-l{
	width: 373px;
	height: 231px;
	margin-left: 125px;
}
.hrtp .hrtp-r{
	width: 300px;
	height: 235px;
	margin-right: 136px;
	background: url(../images/edt-back.png) no-repeat;
}
.hrtp .hrtp-r h2{
	width: 284px;
	height: 68px;
	line-height: 68px;
	font-size: 30px;
	color: #fff;
	text-align: center;
}
.hrtp .hrtp-r p{
	width: 284px;
	font-size: 12px;
	color: #292929;
	line-height: 24px;
	margin-top: 22px;
}
.hrtp .hrtp-Txt{
	width: 100%;
	height: auto;
	float: left;
	margin-top: 50px;
}
.hrtp .hrtp-Txt p{
	width: 100%;
	line-height: 38px;
	font-size: 16px;
	color: #0ea679;
	text-align: center;
}
.hrtp .hrtp-Txt p em{
	font-size: 18px;
	color: #ff8400;
}
/*选择HRTP的理由*/
.reasonWrap{
	width: 100%;
	height: auto;
	background: #d5f1ff;
}
.reasonWrap1{
	background: #fff;
}
.reason{
	height: auto;
}
.reason .rea-title{
	width: 100%;
	height: 60px;
	border-bottom: 1px solid #0ea679;
	position: relative;
}
.reason .rea-title h2{
	width: 312px;
	height: 68px;
	line-height: 68px;
	font-size: 30px;
	color: #0ea679;
	position: absolute;
	bottom: -34px;
	left: 50%;
	margin-left: -156px;
	background: url(../images/edu-back.png) no-repeat;
	text-align: center;
}

.reason .rea-bom{
	width: 100%;
	height: auto;
	margin-top: 67px;
}
.reason .rea-bom ul.reab-list{
	width: 735px;
	height: auto;
	margin: 0 auto;
	padding-bottom: 35px;
}
.reason .rea-bom ul.reab-list li{
	width: 155px;
	height: auto;
	margin: 0 45px;
	float: left;
}
.reason .rea-bom ul.reab-list li .rea-Img{
	width: 80px;
	height: 80px;
	margin: 0 auto;
}
.reason .rea-bom ul.reab-list li .rea-Img img{
	width: 80px;
	height: 80px;
	display: block;
	border-radius: 50px;
}
.reason .rea-bom ul.reab-list li h2{
	width: 100%;
	height: 42px;
	line-height: 40px;
	font-size: 18px;
	color: #0ea679;
	text-align: center;
}
.reason .rea-bom ul.reab-list li a{
	width: 97%;
	font-size: 12px;
	color: #333;
	line-height: 18px;
	margin-left: 3%;
	display: inline-block;
}
.reason .rea-bom ul li.reab-list a:hover{
	color: #0088BF;
}
/*HRTP的核心模块*/
.reason .rea-title h3{
	width: 284px;
	height: 68px;
	line-height: 68px;
	font-size: 30px;
	color: #0ea679;
	position: absolute;
	bottom: -34px;
	left: 50%;
	margin-left: -142px;
	background: url(../images/edu-back1.png) no-repeat;
	text-align: center;
}
.reason .rea-bom ul.core{
	width: 100%;
	height: auto;
	padding-bottom: 10px;
}
.reason .rea-bom ul.core li.core-li{
	width: 198px;
	height: 157px;
	float: left;
	position: relative;
	*z-index: 100;
}
.reason .rea-bom ul.core li.core-li1{
	background: #ef8b47;
	*z-index: 120;
}
.reason .rea-bom ul.core li.core-li2{
	background: #b73541;
	*z-index: 120;
}
.reason .rea-bom ul.core li.core-li3{
	background: #6ebc5b;
	*z-index: 120;
}
.reason .rea-bom ul.core li.core-li4{
	background: #c39c1e;
	*z-index: 120;
}
.reason .rea-bom ul.core li.core-li5{
	background: #004e92;
	*z-index: 120;
}
.reason .rea-bom ul.core li.core-li .coreli-Img{
	width: 50px;
	height: 50px;
	margin: 10px auto 3px;
}
.reason .rea-bom ul.core li.core-li h2{
	width: 100%;
	text-align: center;
	font-size: 18px;
	color: #fff;
	height: 24px;
	line-height: 24px;
}
.reason .rea-bom ul.core li.core-li h3{
	width: 100%;
	text-align: center;
	font-size: 14px;
	color: #fff;
	height: 20px;
	line-height: 20px;
}
.reason .rea-bom ul.core li.core-li a{
	width: 90px;
	height: 26px;
	border: 1px solid #a94501;
	display: block;
	margin: 10px auto 0;
	line-height: 26px;
	text-align: center;
	color: #A94501;
	font-size: 14px;
}
.reason .rea-bom ul.core li.core-li a b{
	font-weight: normal;
	margin-left: 4px;
}
.reason .rea-bom ul.core li.core-li a:hover{
	color: #8d3a01;
	border: 1px solid #8D3A01;
}
.reason .rea-bom ul.core li.core-li2 a{
	color: #79151e;
	border: 1px solid #79151e;
}
.reason .rea-bom ul.core li.core-li2 a:hover{
	color: #621118;
	border: 1px solid #621118;
}
.reason .rea-bom ul.core li.core-li3 a{
	color: #40852f;
	border: 1px solid #40852f;
}
.reason .rea-bom ul.core li.core-li3 a:hover{
	color: #316724;
	border: 1px solid #316724;
}
.reason .rea-bom ul.core li.core-li4 a{
	color: #775e0c;
	border: 1px solid #775e0c;
}
.reason .rea-bom ul.core li.core-li4 a:hover{
	color: #634e0a;
	border: 1px solid #634e0a;
}
.reason .rea-bom ul.core li.core-li5 a{
	color: #002b51;
	border: 1px solid #002b51;
}
.reason .rea-bom ul.core li.core-li5 a:hover{
	color: #001d36;
	border: 1px solid #001d36;
}
.reason .rea-bom ul.core li.core-li i.ico{
	width: 18px;
	height: 14px;
	display: inline-block;
	position: absolute;
	bottom: -14px;
	left: 50%;
	margin-left: -9px;
	z-index: 100;
}
.reason .rea-bom ul.core li.core-li i.ico1{
	width: 18px;
	height: 14px;
	display: inline-block;
	position: absolute;
	top: -14px;
	left: 50%;
	margin-left: -9px;
	z-index: 100;
}
.reason .rea-bom ul.core li.core-li .coreli-Img1{
	width: 198px;
	height: 157px;
}
.reason .rea-bom ul.core li.core-li .coreli-Img1 img{
	width: 198px;
	height: 157px;
	display: block;
}
/*金牌导师*/
.reason .mentor{
	width: 556px;
	height: 562px;
	background: url(../images/edu-back3.png) no-repeat;
	margin-top: 68px;
	margin-left: 141px;
	padding-bottom: 58px;
	padding-top: 21px;
}
.reason .mentor ul{
	width: 100%;
	height: auto;
	/*background: red;*/
	position: relative;
}
.reason .mentor ul li{
	width: 296px;
	height: auto;
	float: left;
	/*background: yellow;*/
	/*position: absolute;*/
}
.reason .mentor ul li .menli_Img{
	width: 143px;
	height: 143px;
}
.reason .mentor ul li .menli_Img img{
	width: 143px;
	height: 143px;
	display: block;
	border-radius: 50px;
}
.reason .mentor ul li.men-li1{
	margin-left: 25px;
}
.reason .mentor ul li.men-li2{
	position: absolute;
	left: 371px;
	top: 20px;
}
.reason .mentor ul li.men-li3{
	position: absolute;
	left: -47px;
	top: 189px;
}
.reason .mentor ul li.men-li4{
	position: absolute;
	left: 456px;
	top: 191px;
}
.reason .mentor ul li.men-li5{
	position: absolute;
	left: 42px;
	top: 386px;
}
.reason .mentor ul li.men-li6{
	position: absolute;
	left: 372px;
	top: 355px;
}
.reason .mentor ul li .menli_Txt{
	width: 141px;
	height: auto;
	padding-top: 39px;
}
.reason .mentor ul li .menli_Txt h2{
	width: 100%;
	height: 28px;
	line-height: 28px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	background: #12a662;
	border-radius: 10px;
}
.reason .mentor ul li .menli_Txt p{
	width: 96%;
	line-height: 18px;
	color: #333;
	font-size: 12px;
	margin-top: 5px;
	margin-left: 3%;
	letter-spacing: 1px;
	text-indent: 1px;
}
.reason .mentor ul li.men-li2 .menli_Txt{
	padding-top: 8px;
}
.reason .mentor ul li.men-li3 .menli_Txt{
	padding-top: 10px;
}
.reason .mentor ul li.men-li4 .menli_Txt{
	padding-top: 28px;
}
.reason .mentor ul li.men-li5 .menli_Txt{
	padding-top: 15px;
}
.reason .mentor ul li.men-li6 .menli_Txt{
	padding-top: 40px;
}
/*课程排期*/
.courseWrap{
	width: 100%;
	height: 604px;
	background: url(../images/edu-back2.jpg) no-repeat center;
}
.course{
	height: auto;
}
.course .course-title{
	width: 100%;
	height: 61px;
	border-bottom: 1px solid #fff;
	position: relative;
}
.course .course-title h2{
	width: 284px;
	height: 68px;
	line-height: 68px;
	font-size: 30px;
	color: #0ea679;
	position: absolute;
	bottom: -34px;
	left: 50%;
	margin-left: -142px;
	background: url(../images/edu-back4.png) no-repeat;
	text-align: center;
}
.course .course-bom{
	width: 808px;
	height: auto;
	padding: 32px 0 32px 32px;
	margin: 63px auto 0;
	background: rgba(255,255,255,0.75);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99ffffff',endColorstr='#99ffffff');      /*IE6,IE7*/ 
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#99ffffff', endColorstr='#99ffffff')";      /*IE8*/
}
.course .course-bom table{
	border-top: 1px solid #999;
	border-left: 1px solid #999;
	background: #fff;
	float: left;
}
.course .course-bom table tr th{
	/*border-bottom: 1px solid #fff;*/
	border-right: 1px solid #fff;
	background: #43a9bf;
	font-size: 16px;
	color: #fff;
}
.course .course-bom table tr td{
	border-bottom: 1px solid #999;
	border-right: 1px solid #999;
	text-align: center;
	font-size: 14px;
	color: #333;
	height: 30px;
}
.course .course-bom table .blue{
	background: #daf8ff;
}
.course .course-bom .corb-r{
	width: 163px;
	height: auto;
}
.course .course-bom .corb-r h2{
	width: 173px;
	height: 34px;
	line-height: 34px;
	font-size: 18px;
	color: #fff;
	background: #0ea679;
	margin-right: -10px;
	text-align: center;
	position: relative;
}
.course .course-bom .corb-r h2 i{
	width: 9px;
	height: 8px;
	display: inline-block;
	background: url(../images/edu-ico11.png) no-repeat;
	position: absolute;
	right: 1px;
	bottom: -8px;
}
.course .course-bom .corb-r h3{
	width: 116px;
	height: 24px;
	line-height: 24px;
	font-size: 14px;
	color: #fff;
	text-align: center;
	background: #eb9123;
	border-radius: 5px;
	margin-left: 17px;
	margin-top: 12px;
}
.course .course-bom .corb-r h4{
	width: 100px;
	line-height: 20px;
	margin-left: 25px;
	font-size: 14px;
	color: #333;
}
.course .course-bom .corb-r h4 em{
	color: #ff3333;
}
.course .course-bom .corb-r img{
	display: block;
	margin-left: 21px;
	margin-top: 10px;
}
/*课程回顾*/
.reviewWrap{
	width: 100%;
	height: auto;
	background: #fff;
	padding: 36px 0 ;
}
.review{
	height: auto;
}
.review .review-l{
	width: 198px;
	height: 157px;
	margin-top: 14px;
	background: #0ea679;
}
.review .review-l h2{
	width: 162px;
	height: 67px;
	line-height: 66px;
	background: url(../images/edu-back5.png) no-repeat;
	margin: 0 auto;
	text-align: center;
	font-size: 30px;
	color: #fff;
	margin-top: 42px;
}

.review-r {
	width:792px;
	height: 185px;
	position:relative;
}
.review-r .hd {
	position: relative;
}
.review-r .hd a{
	display:block;
	width:28px;
	height:28px;
	float:right;
	cursor:pointer;
	position: absolute;
	z-index: 99;
	margin-top: 80px;
	background:url(../images/perv-next2.png) no-repeat;
}
.review-r .hd .prev {
	background-position:left 0;
	left: 0;
}
.review-r .hd .next {
	background-position:right 0;
	right: 0;
}
.review-r .bd ul {
	height: 185px;
	zoom:1;
}
.review-r .bd ul li {
	float:left;
	_display:inline;
	height: 185px;
	margin-top: 14px;
	/*overflow:hidden;*/
	text-align:center;
}
.review-r .bd ul li .pic {
	text-align:center;
}
.review-r .bd ul li .pic img {
	width: 100%;
	display:block;
}
.review-r .bd ul li{ 
	width:198px;
	height:157px; 
	float: left; 
	position: relative;
}
.review-r .bd ul li a{ 
	width:198px;
	height:157px;  
	position: absolute; 
	left: 50%;
	top: 50%;
	margin: -78.5px 0 0 -99px;
	z-index: 1;
	-moz-transition: all 0s ease-in;
	-webkit-transition: all 0s ease-in;
	-o-transition: all 0s ease-in;
	transition: all 0s ease-in;
}
.review-r .bd ul li  a p{
	width: 100%;
	height: 34px;
	line-height: 34px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	position: absolute;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99000000',endColorstr='#99000000');      /*IE6,IE7*/ 
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#99000000', endColorstr='#99000000')";      /*IE8*/
}
/**智选课堂是什么**/
.c_mainWrap{
	width: 100%;
	height: auto;
	background: #fff;
}
.c_class{
	padding: 32px 0;
}
.c_class h2{
	font-size: 36px;
	color: #b6761c;
	text-align: center;
	background: url(../images/c_ico1.png) 0 20px no-repeat;
}
.c_class1 h2{
	background: url(../images/c_ico18.png) 0 20px no-repeat;
}
.c_class_con{
	width: 100%;
	padding-top: 38px;
}
.c_class_con .c_class_fl{
	width: 555px;
	margin-left: 44px;
}
.c_class_con .c_class_fl .img{
	text-align: center;
}
.c_class_con .c_class_fl p{
	font-size: 12px;
	color: #333;
	text-indent: 2em;
	padding-top: 6px;
	line-height: 22px;
}
.c_class_con .c_class_fr{
	width: 282px;
	border: 2px solid #00976e;
	margin-right: 44px;
}
.c_class_con .c_class_fr .c_tit{
	font-size: 16px;
	color: #fff;
	height: 35px;
	line-height: 35px;
	background: #00976e;
}
.c_class_con .c_class_fr .c_tit img{
	display: inline-block;
	float: left;
	margin-left: 18px;
	margin-top: 12px;
	margin-right: 8px;
}
.c_class_con .c_class_fr ul{
	width: 100%;
	padding: 25px 0;
}
.c_class_con .c_class_fr ul li{
	width: 100%;
}
.c_class_con .c_class_fr ul li a{
	display: block;
	line-height: 23px;
	font-size: 12px;
	color: #000000;
}
.c_class_con .c_class_fr ul li a:hover{
	color: #0088BF;
}
.c_class_con .c_class_fr ul li a i{
	display: inline-block;
	width: 4px;
	height: 4px;
	margin-left: 14px;
	margin-right: 6px;
	background: #b6761c;
}

/**选择智选课堂的三大理由**/
.c_reason{
	background: url(../images/c_pic2.jpg) no-repeat top center;
	width: 100%;
	height: 491px;
}
.c_rea{
	padding: 36px 0;
}
.c_rea h2{
	font-size: 36px;
	color: #fff;
	text-align: center;
	background: url(../images/c_ico3.png) 0 20px no-repeat;
}
.c_rea_ul{
	width: 100%;
}
.c_rea_ul ul{
	padding: 40px 75px;
}
.c_rea_ul ul li{
	width: 216px;
	margin: 0 32px;
	float: left;
}
.c_rea_ul ul li .img{
	text-align: center;
}
.c_rea_ul ul li p{
	font-size: 14px;
	color: #fff;
	padding-top: 16px;
	line-height: 26px;
}

/**智选课堂的模块**/
.c_model{
	width: 100%;
	padding-bottom: 32px;
	height: 244px;
	margin-top: 50px;
	position: relative;
	background: url(../images/c_ico2.png) no-repeat top center;
}
.c_model .c_mfl{
	position: absolute;
	top: 136px;
	left: 66px;
	font-size: 12px;
	color: #333333;
	width: 260px;
	line-height: 22px;
}
.c_model .c_mfr{
	position: absolute;
	top: 40px;
	right: 32px;
	font-size: 12px;
	color: #333333;
	width: 240px;
	line-height: 22px;
}
.c_model .c_mmll{
	position: absolute;
	font-size: 30px;
	color: #fff;
	left: 39%;
	top: 96px;
}
.c_model .c_mmlr{
	position: absolute;
	font-size: 24px;
	color: #fff;
	left: 58%;
	top: 120px;
}

/**智选课堂的课程**/
.c_classis{
	background: url(../images/c_pic1.jpg) no-repeat top center;
	width: 100%;
	height: 856px;
}
.c_cla_tit{
	padding: 20px 0;
}
.c_cla_tit h2{
	font-size: 36px;
	color: #fff;
	text-align: center;
	background: url(../images/c_ico19.png) 0 20px no-repeat;
}
.c_cla_con{
	padding: 20px 45px 0;
}
.c_tab{
	width: 100%;
}
#c_tab {
	position:relative;
}
#c_tab .c_tab_menu {
	width: 100%;
	position:absolute;
	z-index:1;
	padding-top: 23px;
	height:32px;
	background: #fff;
	border-bottom: 3px solid #d98802;
}
#c_tab .c_tab_menu li {
	float:left;
	border-bottom:0px;
	cursor:pointer;
	font-size: 16px;
	color: #333;
	height: 32px;
	line-height: 32px;
	display: block;
	padding: 0 16px;
	text-align:center;
	position: relative;
}
#c_tab .c_tab_menu li i.ico{
	display: block;
	position: absolute;
	left: 50%;
	display: none;
	margin-left: -7px;
	background: url(../images/c_ico7.png) no-repeat;
	height: 11px;
	width: 14px;
	*bottom: -14px;
}
#c_tab .c_tab_box {
	width:100%;
	height:auto;
	clear:both;
	top:55px;
	position:relative;
	background-color:#e3e3e3;
}
#c_tab .c_tab_menu .selected {
	background-color:#00a477;
	cursor:pointer;
	color: #fff;
}
#c_tab .c_tab_menu li.selected i.ico{
	display: block;
}
.hide {
	display:none;
}
.c_tab_box div {
	padding:26px 40px 20px;
	position: relative;
}
.c_tab_box div table {
	width: 100%;
	border: 1px solid #999;
}
.c_tab_box div table tr th{
	font-size: 16px;
	color: #fff;
	height: 36px;
	line-height: 36px;
	font-weight: normal;
	background: #43a9bf;
	border-right: 1px solid #fff;
}
.c_tab_box div table tr td{
	border-top: 1px solid #999;
	border-left: 1px solid #999;
	text-align: center;
	line-height: 30px;
	font-size: 14px;
	color: #333;
}
.c_tab_box div table tr td.td1{
	border-left: 0;
}
.c_tab_box div table tr td.td2{
	color: #b6761c;
	cursor: pointer;
	background: #fff url(../images/c_ico9.png) right 10px no-repeat;
}
.c_tab_box div table tr td.td2:hover{
	color: #b6761c;
	color: #fff;
	background: #fbaf32 url(../images/c_ico8.png) right 10px no-repeat;
}
.c_tab_box div table tr.daban td{
	font-size: 16px;
	color: #046082;
	text-align: center;
	height: 30px;
	line-height: 30px;
	background: #cbe8ff;
	border-left: 0;
}
.c_tab_box div p{
	font-size: 12px;
	color: #333;
	line-height: 22px;
	padding-top: 10px;
}
.c_tab_box div p span{
	color: #ff3333;
}

/**服务流程**/
.c_service {
	padding: 32px 0;
}
.c_service h2{
	font-size: 36px;
	color: #b6761c;
	text-align: center;
	background: url(../images/c_ico20.png) 0 20px no-repeat;
}
.c_flow{
	height: 4px;
	background: #ccc;
	width: 100%;
	position: relative;
	margin-top: 190px;
	margin-bottom: 150px;
	border-top: 1px solid #aeaeae;
}
.c_flow .c_fw{
	position: absolute;
	width: 150px;
	height: 150px;
}
.c_flow .c_fw h3{
	color: #fff;
	height: 30px;
	font-size: 18px;
	border-radius: 25px;
	position: absolute;
	padding: 0px 14px;
}
.c_flow .c_fw h3 span{
	display: inline-block;
	font-size: 24px;
	height: 20px;
	line-height: 20px;
	margin-top: 5px;
	padding-right: 6px;
	float: left;
	border-right: 1px solid #fff;
}
.c_flow .c_fw h3 b{
	display: inline-block;
	line-height: 30px;
	font-weight: normal;
	padding-left: 6px;
	float: left;
}
.c_flow .c_fw p{
	font-size: 12px;
	color: #666;
	width: 114px;
	line-height: 20px;
	position: absolute;
	margin-left: 16px;
}
.c_flow .c_fw1 h3{
	background: #2fa7d7;
	top: -20px;
	left: -6px;
}
.c_flow .c_fw2 h3{
	background: #8b57a2;
	top: 100px;
	left: -6px;
}
.c_flow .c_fw3 h3{
	background: #f19413;
	top: -20px;
	left: -6px;
}
.c_flow .c_fw4 h3{
	background: #ff3535;
	top: 100px;
	left: -6px;
}
.c_flow .c_fw5 h3{
	background: #00976e;
	top: -20px;
	left: -6px;
}
.c_flow .c_fw6 h3{
	background: #ff7010;
	top: 100px;
	left: -6px;
}
.c_flow .c_fw7 h3{
	background: #065e7e;
	top: -20px;
	left: -6px;
}
.c_flow .c_fw .p1{
	top: 16px;
}
.c_flow .c_fw .p2{
	bottom: 52px;
}
.c_flow .c_fw1{
	top: -105px;
	left: 120px;
	background: url(../images/c_ico10.png) no-repeat;
}
.c_flow .c_fw2{
	top: -8px;
	left: 236px;
	background: url(../images/c_ico12.png) no-repeat;
}
.c_flow .c_fw3{
	top: -105px;
	left: 350px;
	background: url(../images/c_ico13.png) no-repeat;
}
.c_flow .c_fw4{
	top: -8px;
	left: 460px;
	background: url(../images/c_ico14.png) no-repeat;
}
.c_flow .c_fw5{
	top: -105px;
	left: 570px;
	background: url(../images/c_ico15.png) no-repeat;
}
.c_flow .c_fw6{
	top: -8px;
	left: 685px;
	background: url(../images/c_ico16.png) no-repeat;
}
.c_flow .c_fw7{
	top: -105px;
	left: 795px;
	background: url(../images/c_ico17.png) no-repeat;
}


/**培训剪影**/
/**培训剪影**/
.c_silhouette{
	width: 100%;
	height: auto;
	background: #84c9ff;
}
.c_silh{
	padding: 20px 0 14px;
}
.c_silh h2{
	font-size: 36px;
	color: #fff;
	text-align: center;
	background: url(../images/c_ico21.png) 0 20px no-repeat;
}
#slider {
	width:100%;
	height:200px;
	overflow:hidden;
	position:relative;
	margin:10px auto 0;
}
#slider .c_left{
	width: 190px;
	height: 137px;
	background: rgba(0,0,0,0.5);
	position: absolute;
	top: 16px;
	left: 0;
	z-index: 99;
}
#slider .c_right{
	width: 190px;
	height: 137px;
	background: rgba(0,0,0,0.5);
	position: absolute;
	top: 16px;
	right: 0;
	z-index: 99;
}
.scroll {
	width:100%;
	height:200px;
	margin:0 auto;
	overflow:hidden;
	position:relative;
}
.scrollContainer {
	position: relative;
	left:0px;
}
.scrollContainer .panel {
	width:190px;
	height:137px;
	float: left;
	display:inline;
	margin-top: 16px;
}
.scrollContainer .panel.current{
	width:230px;
	height:178px;
	position: relative;
	z-index: 9;
	margin-left: -0px;
	margin-top: 0px;
}
.scrollContainer .panel.current img{
	width: 100%;
}
.scrollContainer .panel .inside{
	border: 2px solid #fff;
}

.panel .inside {
	display:block;
	position:relative;
}
.inside img {
	height:100%;
	width:100%;
}
.scroll li .inside span {
	width:100%;
	height:32px;
	line-height:32px;
	position:absolute;
	bottom:0px;
	left:0px;
	background: rgba(0,0,0,0.5);
	font-size:14px;
	color:#FFF;
	text-align:center;
}
.scroll li.current .inside span {
	display:block;
}
.btnMode a.btn {
	position: absolute;
	z-index: 10;
	top: 50%;
	margin-top: -16px;
	z-index: 100;
}
.btnMode a.prev {
	left: 146px;
	background: url(../images/c_left.png) no-repeat;
	width: 18px;
	height: 32px;
}
.btnMode a.next {
	right: 146px;
	background: url(../images/c_right.png) no-repeat;
	width: 18px;
	height: 32px;
}
/*企业内训*/
.contentWrap{
	width: 100%;
	height: auto;
	background: #fff;
	padding-bottom: 50px;
}
/*内训专题*/
.conten{
	width: 900px;
	margin: 0 auto;
	height: auto;
	padding-top: 45px;
}
.conten .conten-title{
	width: 100%;
	height: 17px;
	position: relative;
	background: url(../images/en-ico.png) no-repeat center;
}
.conten .conten-title h2{
	width: 168px;
	height: 40px;
	line-height: 40px;
	font-size: 36px;
	color: #23aad7;
	position: relative;
	top: -13px;
	left: 50%;
	margin-left: -84px;
	text-align: center;
}
.conten .conten-bom{
	width: 100%;
	height: auto;
	margin-top: 11px;
}
.conten .conten-bom ul li{
	width: 265px;
	height: 182px;
	float: left;
	margin-top: 28px;
	position: relative;
	overflow: hidden;
	margin-right: 52.5px;
}
.conten .conten-bom ul li img{
	width: 100%;
	display: block;
}
.conten .conten-bom ul li .layer{
	width: 265px;
	height: 214px;
	background: rgba(0,0,0,0.6);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99000000',endColorstr='#99000000');      /*IE6,IE7*/ 
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#99000000', endColorstr='#99000000')";      /*IE8*/
	position: absolute;
	left: 0;
	bottom: -182px;
	text-align: center;
}
.conten .conten-bom ul li .layer p{
	width: 100%;
	height: 32px;
	line-height: 32px;
	color: #fff;
	font-size: 18px;
}
.conten .conten-bom ul li .layer h3{
	width: 100%;
	height: 68px;
	line-height: 68px;
	font-size: 18px;
	color: #23aad7;
	margin-top: 4px;
}
.conten .conten-bom ul li .layer h4{
	color: #fff;
	font-size: 14px;
	width: 100%;
	height: 18px;
	line-height: 18px;
}
.conten .conten-bom ul li .layer a{
	width: 87px;
	height: 24px;
	display: inline-block;
	margin-top: 14px;
	background: #23aad7;
	font-size: 12px;
	color: #fff;
	line-height: 24px;
}
.conten .conten-bom ul li .layer a:hover,
.horse .horse-r ol li a:hover,
.diagn .diagn-l a:hover{
	background:#1d94bc ;
}
/*心想事成*/
.horse{
	width: 100%;
	height: auto;
	margin-top: 60px;
}
.horse .horse-l,
.diagn .diagn-r{
	width: 330px;
	height: 226px;
	background: url(../images/en-img7.jpg) no-repeat;
	text-align: center;
}
.horse .horse-l span{
	width: 212px;
	height: 78px;
	border: 1px solid #fff;
	color: #fff;
	display: inline-block;
	margin-top: 74px;
	font-size: 36px;
	line-height: 78px;
	text-align: center;
}
.horse .horse-r{
	width: 570px;
	height: auto;
}
.horse .horse-r ol{
	margin-left: 2px;
}
.horse .horse-r ol li{
	width: 150px;
	height: auto;
	float: left;
	margin-left: 30px;
	text-align: center;
}
.horse .horse-r ol li img{
	width: 100%;
	display: block;
}
.horse .horse-r ol li p{
	width: 100%;
	height: 38px;
	line-height: 38px;
	color: #333;
	font-size: 18px;
}
.horse .horse-r ol li a{
	width: 87px;
	height: 24px;
	display: inline-block;
	margin-top: 7px;
	background: #23aad7;
	font-size: 12px;
	color: #fff;
	line-height: 24px;
}
/*“诊断式“企业内训*/
.diagn{
	width: 100%;
	height: auto;
	margin-top: 55px;
}
.diagn .diagn-l{
	width: 535px;
	height: auto;
	margin-left: 35px;
	margin-top: 50px;
}
.diagn .diagn-l img{
	width: 150px;
	height: 132px;
	display: block;
	float: left;
}
.diagn .diagn-l h2{
	width: 370px;
	height: 18px;
	line-height: 18px;
	float: left;
	margin-left: 15px;
	font-size: 18px;
	color: #006699;
}
.diagn .diagn-l p{
	width: 330px;
	float: left;
	margin-left: 15px;
	line-height: 18px;
	margin-top: 8px;
	font-size: 12px;
	color: #333;
}

.diagn .diagn-l a{
	width: 87px;
	height: 24px;
	display: inline-block;
	margin-top: 10px;
	background: #23aad7;
	font-size: 12px;
	color: #fff;
	line-height: 24px;
	text-align: center;
	float: left;
	margin-left: 15px;
}
.diagn .diagn-r{
	background: url(../images/en-img12.jpg) no-repeat;
}
.diagn .diagn-r span{
	width: 230px;
	height: 100px;
	border: 1px solid #fff;
	display: inline-block;
	margin-top: 50px;
	font-size: 36px;
	color: #fff;
	line-height: 50px;
	padding: 7px 0;
}
/*企业内训的优势*/
.advanWrap{
	width: 100%;
	height: auto;
	background:#2eb9e7;
}
.advan{
	width: 900px;
	height: auto;
	margin: 0 auto;
	padding-top: 40px;
	padding-bottom: 35px;
}
.advan .advan-title{
	width: 100%;
	height: 18px;
	background: url(../images/en-back1.png) no-repeat center;
	position: relative;
}
.advan .advan-title h2{
	width: 285px;
	height: 36px;
	line-height: 36px;
	font-size: 36px;
	color: #045d7b;
	position: absolute;
	text-align: center;
	top: -9px;
	left: 50%;
	margin-left: -147px;
}
.advan ul{
	width: 100%;
	height: auto;
	margin-top: 50px;
}
.advan ul li{
	width: 156px;
	height: auto;
	float: left;
	text-align: center;
	margin-right: 30px;
}
.advan ul li h2{
	width: 100%;
	height: 54px;
	line-height: 54px;
	text-align: center;
	font-size: 18px;
	color: #045d7b;
}
.advan ul li p{
	width: 100%;
	font-size: 12px;
	color: #333;
	line-height: 18px;
	text-align: left;
}
/*企业内训实施流程*/
.enterWrap{
	width: 100%;
	height: auto;
	background: #fff;
	padding: 62px 0 46px;
}
.enter{
	width: 900px;
	height: auto;
	margin: 0 auto;
}
.enter .enter-title{
	width: 100%;
	height: 17px;
	background: url(../images/en-ico.png) no-repeat center;
	position: relative;
}
.enter .enter-title h2{
	width: 310px;
	font-size: 36px;
	color: #045d7b;
	height: 36px;
	line-height: 36px;
	background: #fff;
	text-align: center;
	position: absolute;
	top: -11px;
	left: 50%;
	margin-left: -155px;
}
.enter-tab{ 
	width:100%; 
	margin-top: 60px;
	text-align:left;  
}
.enter-tab .hd{ 
	height:40px; 
	line-height:40px;     
	position:relative; 
}
.enter-tab .hd ul{ 
	float:left;  
	position:absolute; 
	left:0; 
	top:0; 
	height:40px;   
}
.enter-tab .hd ul li{ 
	float:left; 
	cursor:pointer; 
	background: yellowgreen; 
	font-size: 16px;
	color: #fff;
}
.enter-tab .hd ul li em{
	font-size: 24px;
	font-family: arial;
	color: #fff;
	font-weight: bold;
	margin-right: 10px;
	float: left;
}
.enter-tab .hd ul li span{
	line-height: 40px;
	display: inline-block;
	float: left;
}
.enter-tab .hd ul li.enhd1{
	width: 147px;
	height: 40px;
	background: url(../images/en-back2.png) no-repeat;
	padding-left: 10px;
	position: relative;
	z-index: 10;
}
.enter-tab .hd ul li.enhd2{
	width: 143px;
	height: 40px;
	background: url(../images/en-back3.png) no-repeat;
	padding-left: 26px;
	position: relative;
	z-index: 9;
	margin-left: -21px;
}
.enter-tab .hd ul li.enhd3{
	width: 143px;
	height: 40px;
	background: url(../images/en-back4.png) no-repeat;
	padding-left: 26px;
	position: relative;
	z-index: 8;
	margin-left: -21px;
}
.enter-tab .hd ul li.enhd4{
	width: 144px;
	height: 40px;
	background: url(../images/en-back5.png) no-repeat;
	padding-left: 26px;
	position: relative;
	z-index: 7;
	margin-left: -21px;
}
.enter-tab .hd ul li.enhd5{
	width: 144px;
	height: 40px;
	background: url(../images/en-back6.png) no-repeat;
	padding-left: 26px;
	position: relative;
	z-index: 6;
	margin-left: -21px;
}
.enter-tab .hd ul li.enhd6{
	width: 144px;
	height: 40px;
	background: url(../images/en-back7.png) no-repeat;
	padding-left: 26px;
	position: relative;
	z-index: 5;
	margin-left: -21px;
}
.enter-tab .bd ul{ 
	width: 856px;
	padding: 20px 22px;  
	zoom:1;  
	background: #e3e3e3;
	border-radius: 5px;
	margin-top: 22px;
	position: relative;
}
.enter-tab .bd i{
	width: 18px;
	height: 9px;
	display: inline-block;
	background:url(../images/en-ico6.png) no-repeat;
	position: absolute;
	top: -9px;
	left: 52px;
}
.enter-tab .bd i.icon1{
	left: 200px;
}
.enter-tab .bd i.icon2{
	left: 352px;
}
.enter-tab .bd i.icon3{
	left: 500px;
}
.enter-tab .bd i.icon4{
	left: 650px;
}
.enter-tab .bd i.icon5{
	left: 800px;
}
.enter-tab .bd li{ 
	line-height:26px;   
}
.enter-tab .bd li em{
	font-size: 14px;
	color: #333;
	margin-right: 35px;
}
/*服务客户*/
.serverWrap{
	width: 100%;
	height: 495px;
	background: url(../images/en-back.jpg) no-repeat center;
}
.server{
	height: auto;
	padding-top: 33px;
}
.server .server-title{
	width: 100%;
	height: 18px;
	background: url(../images/en-back8.png) no-repeat center;
	position: relative;
}
.server .server-title h2{
	width: 166px;
	height: 36px;
	line-height: 36px;
	font-size: 36px;
	color: #fff;
	text-align: center;
	position: absolute;
	top: -9px;
	left: 50%;
	margin-left: -83px;
}
.server p{
	width: 100%;
	height: 32px;
	line-height: 32px;
	font-size: 18px;
	color: #ccc;
	margin-top: 25px;
}
.server .server-bom{
	width: 100%;
	height: 353px;
}
/*尾部*/
.tailWrap{
	width: 100%;
	height: auto;
	background: #fff;
	padding: 20px 0;
}
.tail{
	width: 365px;
	margin: 0 auto;
	text-align: center;
}
.tail img{
	float: left;
}
.tail p{
	width: 238px;
	float: left;
	text-align: left;
	margin-left: 15px;
	font-size: 14px;
	color: #333;
	line-height: 18px;
	margin-top: 38px;
}
.tail p em{
	color: #ff3333;
}












